---
date: "{{date}}"
description: "{{description}}"
draft: {{draft}}
keywords: "{{keywords}}"
title: "{{title}}"
tags: ["{{tags}}"]
---

##### Table of Contents

[Headers](#headers) [Emphasis](#emphasis) [Lists](#lists) [Links](#links)
[Images](#images) [Tables](#tables) [Footnotes](#footnotes)
[Blockquotes](#blockquotes) [Inline HTML](#html) [Horizontal Rule](#hr)
[Line Breaks](#lines)

<!-- End of Post -->

> **Happy Coding!**

**~ Cody** :rocket: